*.class

# Package Files #
*.jar
*.war
*.ear

# Project Files #
.project
.classpath
.settings/
target/

# Workspace Files #
.metadata/
RemoteSystemsTempFiles/
Servers/
/syncnapsis-universe/syncnapsis-universe-conquest/src/main/webapp/styles/default.css
