body {
	background: #000000;
	overflow: hidden;
}

* {
	padding: 0px;
	margin: 0px;
}

.ad, .ad_inner, .ad_border {
	background: #333333;
	/*width set via JS */
	height: 100%;
	position: absolute;
	/* left set via JS */
	top: 0px;
	text-align: center;
}

.ad .ad_img {
	position: absolute;
	/* centering via position:absolute and auto-margin*/
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.ad_border {
	background: #000000;
	overflow: visible;
}

.ad .ad_toggle {
	position: absolute;
	/* centering via position:absolute and auto-margin*/
	top: 0px;
	bottom: 0px;
	margin: auto;
	z-index: 1;	
}

#ad_left_toggle {	
	left: 0px;
}

#ad_right_toggle {	
	right: 0px;
	
}

#center {
	background: #00FF00;
	/*width set via JS */
	height: 100%;
	position: absolute;
	/* left set via JS */
	top: 0px;
}

.bar {
	background: #0000FF;
	width: 100%;
	/*height set via JS */
	position: absolute;
	left: 0px;
	/*top set via JS */
}

#content {
	background: #FFFF00;
	width: 100%;
	/*height set via JS */ position : absolute;
	left: 0px;
	position: absolute;
	/*top set via JS */
}