body {
	background: #000000;
	overflow: hidden;
	color: #EEEEEE;
	font-family: monospace;
}

* {
	padding: 0px;
	margin: 0px;
}

a {
	color: #EEEEEE;
}

.hidden {
	display: none; 
}

.ad, .ad_inner, .ad_border {
	background: #333333;
	/*width set via JS */
	height: 100%;
	position: absolute;
	/* left set via JS */
	top: 0px;
	text-align: center;
}

.ad .ad_img {
	position: absolute;
	/* centering via position:absolute and auto-margin*/
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.ad_border {
	background: #000000;
	overflow: visible;
}

.ad .ad_toggle {
	position: absolute;
	/* centering via position:absolute and auto-margin*/
	top: 0px;
	bottom: 0px;
	margin: auto;
	z-index: 1;	
}

#ad_left_toggle {	
	left: 0px;
}

#ad_right_toggle {	
	right: 0px;	
}

#center {
	background: #00FF00;
	/*width set via JS */
	height: 100%;
	position: absolute;
	/* left set via JS */
	top: 0px;
}

.bar {
	background: #0000FF;
	width: 100%;
	/*height set via JS */
	position: absolute;
	left: 0px;
	/*top set via JS */
}

.bar span {	
	position: relative;
	top: 4px;
	font-size: 13px;
}

.bar .bar_left {
	position: absolute;
	top: 0px;
	height: 100%;
	text-align: left;
}

.bar_left span {
	left: 20px;
}

.bar .bar_right{
	position: absolute;
	top: 0px;
	height: 100%;
	text-align: right;
}

.bar_right span {
	right: 20px;
}

.bar .bar_center{
	position: absolute;
	width: 400px;
	height: 35px;
	margin: auto;
	z-index: 1;	
	background: #0000FF;
	text-align: center;
}

.bar #bar_bottom_center span {
	top: 15px;
}

#bar_top_center {
	top: 0px;
}

#bar_bottom_center {
	bottom: 0px;
}

#content {
	background: #FFFF00;
	width: 100%;
	/*height set via JS */ position : absolute;
	left: 0px;
	position: absolute;
	/*top set via JS */
}