.select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select,
.select>ul {
	border: 1px solid rgba(0,255,255,0.9);
	background: rgba(0,0,0,0.3);
}

.select.error {
	border: 1px solid rgba(0,255,255,0.9);
	background: rgba(255,239,136,1.0);
}

.select.w200,
.select.w200>ul {
	background-position: 180px 4px;  /*Position of the background-image*/
	width: 200px; /*Width of select dropdown to give space for arrow image*/
}

.select.w100,
.select.w100>ul {
	background-position: 80px 4px;  /*Position of the background-image*/
	width: 100px; /*Width of select dropdown to give space for arrow image*/
}

.select.w50,
.select.w50>ul {
	background-position: 30px 4px;  /*Position of the background-image*/
	width: 50px; /*Width of select dropdown to give space for arrow image*/
}

.select {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	background: url('../images/arrow-down.png') no-repeat rgba(1,1,1,0);  /*Adds background-image*/
	display: inline-block;
	cursor: pointer;
}

.select>span {
	padding: 2px;
	text-decoration: none;
	width: 100%;
}

.select>ul {
	height: 0px;
	margin-top: 0px;
	margin-left: -1px;
	padding: 0px;
	overflow: hidden;
}

.select>ul>li {
	overflow: hidden;
	white-space: nowrap;
	padding-left: 2px;
	padding-right: 2px;
}

.select>ul>li:hover,
.select>ul>li.active {
	background: rgba(0,255,255,0.9);
	color: rgba(0,0,0,0.9);
}

.select.open>ul {
	height: auto;
	position: absolute;
	margin-top: 0px;
	margin-left: -1px;
	background: rgba(0,0,0,0.9);
}