body {
	overflow: scroll;
	padding: 10px;
	background: rgba(0,0,0,0);
}

body>div {
	margin-bottom: 10px;
}

body h1 {
	margin-top: -5px;
}

ol li {
	margin-bottom: 12pt;
}

ol li ol li, ol li ul li {
	margin-bottom: 0;
}

#footer {
	text-align: center;
}

#footer hr {
	margin-top: 20px;
	margin-bottom: 20px;
}