/* old window stuff */

.window {
	border: 1px solid #000000;
	background: #FFFFFF;
	color: #000000;
}

.window .window_title {
	border-bottom: 2px solid #000000;
	position: absolute;
	top: 0px;
	height: 30px;
	width: 100%
}

.window .window_title label
/*,.window .window_content div*/
 {
	padding: 5px;
}

.window .window_title label {
	position: relative;
	top: 7px;
}

.window .window_close {
	position: absolute;
	top: 6px;
	right: 5px;
}

.window .window_content {
	position: absolute;
	top: 30px;
	bottom: 0px;
	width: 100%;
}

.window .window_content > div {
	position: absolute;
	top: 4px;
	bottom: 4px;
	left: 2px;
	right: 2px;
}

#content_static iframe {
    overflow-x: hidden;
    overflow-y: scroll;
	height: 100%;
	width: 100%;
	border: none;
}