<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
       default-lazy-init="true">

	<bean id="allianceAllianceContactManager" class="com.syncnapsis.data.service.impl.AllianceAllianceContactManagerImpl">
		<constructor-arg ref="allianceAllianceContactDao" />
	</bean>  
    
	<bean id="allianceManager" class="com.syncnapsis.data.service.impl.AllianceManagerImpl">
		<constructor-arg ref="allianceDao" />
	</bean>  
    
	<bean id="allianceMemberRankManager" class="com.syncnapsis.data.service.impl.AllianceMemberRankManagerImpl">
		<constructor-arg ref="allianceMemberRankDao" />
	</bean>  
    
	<bean id="allianceRankManager" class="com.syncnapsis.data.service.impl.AllianceRankManagerImpl">
		<constructor-arg ref="allianceRankDao" />
	</bean>  
        <bean id="authoritiesManager" class="com.syncnapsis.data.service.impl.AuthoritiesGenericImplManagerImpl">
        <constructor-arg ref="authoritiesDao"/>
    </bean>  
    
    <bean id="authorityManager" class="com.syncnapsis.data.service.impl.AuthorityManagerImpl">
        <constructor-arg ref="authorityDao"/>
    </bean>  
    
    <bean id="authorityGroupManager" class="com.syncnapsis.data.service.impl.AuthorityGroupManagerImpl">
        <constructor-arg ref="authorityGroupDao"/>
    </bean>  
    
	<bean id="contactGroupManager" class="com.syncnapsis.data.service.impl.ContactGroupManagerImpl">
		<constructor-arg ref="contactGroupDao" />
	</bean>  
    
    <bean id="empireAllianceContactManager" class="com.syncnapsis.data.service.impl.EmpireAllianceContactManagerImpl">
        <constructor-arg ref="empireAllianceContactDao"/>
    </bean>  
    
    <bean id="empireManager" class="com.syncnapsis.data.service.impl.EmpireManagerImpl">
        <constructor-arg ref="empireDao"/>
    </bean>  
    
    <bean id="empireEmpireContactManager" class="com.syncnapsis.data.service.impl.EmpireEmpireContactManagerImpl">
        <constructor-arg ref="empireEmpireContactDao"/>
    </bean>  
    
    <bean id="empireRankManager" class="com.syncnapsis.data.service.impl.EmpireRankManagerImpl">
        <constructor-arg ref="empireRankDao"/>
    </bean>  
    
    <bean id="messengerContactManager" class="com.syncnapsis.data.service.impl.MessengerContactManagerImpl">
        <constructor-arg ref="messengerContactDao"/>
    </bean>
    
    <bean id="messengerManager" class="com.syncnapsis.data.service.impl.MessengerManagerImpl">
        <constructor-arg ref="messengerDao"/>
    </bean>
    
    <bean id="newsManager" class="com.syncnapsis.data.service.impl.NewsManagerImpl">
        <constructor-arg ref="newsDao"/>
        <constructor-arg ref="parameterManager"/>
    </bean>
    
    <bean id="parameterManager" class="com.syncnapsis.data.service.impl.ParameterManagerImpl">
        <constructor-arg ref="parameterDao"/>
    </bean>
    
    <bean id="playerManager" class="com.syncnapsis.data.service.impl.PlayerManagerImpl">
        <constructor-arg ref="playerDao"/>
        <constructor-arg ref="playerRoleManager"/>
        <constructor-arg ref="userManager"/>
        <property name="securityManager" ref="securityManager" />
    </bean>
    
    <bean id="playerRankManager" class="com.syncnapsis.data.service.impl.PlayerRankManagerImpl">
        <constructor-arg ref="playerRankDao"/>
    </bean>  
    
    <bean id="playerRoleManager" class="com.syncnapsis.data.service.impl.PlayerRoleManagerImpl">
        <constructor-arg ref="playerRoleDao"/>
    </bean>  
    
    <bean id="userManager" class="com.syncnapsis.data.service.impl.UserManagerImpl">
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="userRoleManager"/>
        <property name="securityManager" ref="securityManager" />
    </bean>
    
    <bean id="userContactManager" class="com.syncnapsis.data.service.impl.UserContactManagerImpl">
        <constructor-arg ref="userContactDao"/>
        <constructor-arg ref="userManager"/>
    </bean>
    
    <bean id="userRoleManager" class="com.syncnapsis.data.service.impl.UserRoleManagerImpl">
        <constructor-arg ref="userRoleDao"/>
    </bean>  
    
</beans>
