<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<bean id="actionDao" class="com.syncnapsis.data.dao.hibernate.ActionDaoHibernate" />

	<bean id="messengerContactDao" class="com.syncnapsis.data.dao.hibernate.MessengerContactDaoHibernate" />
	
	<bean id="messengerDao" class="com.syncnapsis.data.dao.hibernate.MessengerDaoHibernate" />

	<bean id="newsDao" class="com.syncnapsis.data.dao.hibernate.NewsDaoHibernate" />

	<bean id="parameterDao" class="com.syncnapsis.data.dao.hibernate.ParameterDaoHibernate" />
	
	<bean id="userContactDao" class="com.syncnapsis.data.dao.hibernate.UserContactDaoHibernate" />
	
	<bean id="userDao" class="com.syncnapsis.data.dao.hibernate.UserDaoHibernate" />
	
	<bean id="userRoleDao" class="com.syncnapsis.data.dao.hibernate.UserRoleDaoHibernate" />
	
</beans>