<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Syncnapsis Framework - Copyright (c) 2012 ultimate
 - 
 - This program is free software; you can redistribute it and/or modify it under the terms of
 - the GNU General Public License as published by the Free Software Foundation; either version
 - 3 of the License, or any later version.
 - 
 - This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 - without even the implied warranty of MECHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 - See the GNU General Public License for more details.
 - 
 - You should have received a copy of the GNU General Plublic License along with this program;
 - if not, see <http://www.gnu.org/licenses/>.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<bean id="allianceAllianceContactDao" class="com.syncnapsis.data.dao.hibernate.AllianceAllianceContactDaoHibernate" />

	<bean id="allianceDao" class="com.syncnapsis.data.dao.hibernate.AllianceDaoHibernate" />

	<bean id="allianceMemberRankDao" class="com.syncnapsis.data.dao.hibernate.AllianceMemberRankDaoHibernate" />

	<bean id="allianceRankDao" class="com.syncnapsis.data.dao.hibernate.AllianceRankDaoHibernate" />

	<bean id="authoritiesDao" class="com.syncnapsis.data.dao.hibernate.AuthoritiesGenericImplDaoHibernate" />

	<bean id="authorityGroupDao" class="com.syncnapsis.data.dao.hibernate.AuthorityGroupDaoHibernate" />

	<bean id="authorityDao" class="com.syncnapsis.data.dao.hibernate.AuthorityDaoHibernate" />
	
	<bean id="contactGroupDao" class="com.syncnapsis.data.dao.hibernate.ContactGroupDaoHibernate" />

	<bean id="empireAllianceContactDao" class="com.syncnapsis.data.dao.hibernate.EmpireAllianceContactDaoHibernate" />

	<bean id="empireDao" class="com.syncnapsis.data.dao.hibernate.EmpireDaoHibernate" />

	<bean id="empireEmpireContactDao" class="com.syncnapsis.data.dao.hibernate.EmpireEmpireContactDaoHibernate" />
	
	<bean id="empireRankDao" class="com.syncnapsis.data.dao.hibernate.EmpireRankDaoHibernate" />

	<bean id="messengerContactDao" class="com.syncnapsis.data.dao.hibernate.MessengerContactDaoHibernate" />
	
	<bean id="messengerDao" class="com.syncnapsis.data.dao.hibernate.MessengerDaoHibernate" />

	<bean id="newsDao" class="com.syncnapsis.data.dao.hibernate.NewsDaoHibernate" />

	<bean id="parameterDao" class="com.syncnapsis.data.dao.hibernate.ParameterDaoHibernate" />

	<bean id="playerDao" class="com.syncnapsis.data.dao.hibernate.PlayerDaoHibernate" />

	<bean id="playerRankDao" class="com.syncnapsis.data.dao.hibernate.PlayerRankDaoHibernate" />

	<bean id="playerRoleDao" class="com.syncnapsis.data.dao.hibernate.PlayerRoleDaoHibernate" />
	
	<bean id="userContactDao" class="com.syncnapsis.data.dao.hibernate.UserContactDaoHibernate" />
	
	<bean id="userDao" class="com.syncnapsis.data.dao.hibernate.UserDaoHibernate" />
	
	<bean id="userRoleDao" class="com.syncnapsis.data.dao.hibernate.UserRoleDaoHibernate" />
	
</beans>