<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
       default-lazy-init="true">
    
    <!-- =================================================================== -->
    <!-- Managers: For accessing DAOs                                        -->
    <!-- =================================================================== -->     
    
    <bean id="playerRankManager" class="com.syncnapsis.data.service.impl.PlayerRankManagerImpl">
        <constructor-arg ref="playerRankDao"/>
    </bean>  
    
    <bean id="empireRankManager" class="com.syncnapsis.data.service.impl.EmpireRankManagerImpl">
        <constructor-arg ref="empireRankDao"/>
    </bean>  
    
    <bean id="allianceRankManager" class="com.syncnapsis.data.service.impl.AllianceRankManagerImpl">
        <constructor-arg ref="allianceRankDao"/>
    </bean>  
    
</beans>
